@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap");
h1 {
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #a37e74;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

p, a, button, label, input {
  font-family: "Open Sans", sans-serif;
  color: #181818;
}

p {
  line-height: 1.5rem;
}

.heading-subtext {
  font-size: 1.2rem;
}

section.dark h2, section.dark h3, section.dark h4, section.dark h5, section.dark h6 {
  color: #dbbbaf;
}
section.dark p, section.dark a {
  color: #f0f0f0;
}

span {
  color: #a37e74;
}
span.dark {
  color: #dbbbaf;
}

@media (min-width: 1400px) {
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2.15rem;
  }

  .heading-subtext {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow: hidden;
}
body main {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}
body main.dark {
  background-color: #181818;
}
body main > section {
  padding: 3.5rem 1.5rem 2rem;
}

section {
  background-color: #f0f0f0;
}
section.dark {
  background-color: #181818;
}

.contact-button {
  font-size: 1rem;
  text-transform: uppercase;
  color: #f0f0f0;
  background-color: #181818;
  border: none;
  border-radius: 999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 0.625rem 1.25rem;
}
.contact-button.dark {
  color: #181818;
  background-color: #f0f0f0;
}
.contact-button:hover {
  cursor: pointer;
}

a.button, li.submit button {
  font-size: 1rem;
  text-transform: uppercase;
  color: #f0f0f0;
  background-color: #181818;
  border: none;
  border-radius: 999px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  padding: 0.525rem 1.25rem;
}

.contact-button:hover, a.button:hover, li.submit button:hover {
  color: #f0f0f0 !important;
  background-color: #a37e74 !important;
  cursor: pointer;
}

#contact-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  z-index: 100;
  background-color: #e1e1e1;
  transition: width 0.3s ease;
}
#contact-modal.open {
  width: 100%;
}
#contact-modal #close-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}
#contact-modal form {
  margin: 5rem 1.5rem;
  opacity: 0;
  transition: opacity 0.15s ease;
}
#contact-modal form.visible {
  opacity: 1;
}
#contact-modal form ul {
  list-style: none;
  padding: 0;
}
#contact-modal form ul li {
  margin-bottom: 1rem;
}
#contact-modal form ul li label {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}
#contact-modal form ul li input {
  width: 100%;
  padding: 0.25rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px #a37e74 solid;
}
#contact-modal form ul li.name {
  display: flex;
}
#contact-modal form ul li.name .first-name-wrapper {
  width: 50%;
  margin-right: 0.5rem;
}
#contact-modal form ul li.name .last-name-wrapper {
  width: 50%;
  margin-left: 0.5rem;
}
#contact-modal form ul li.submit {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}

#loading-screen {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}
#loading-screen svg {
  height: 3.5rem;
  width: 3.5rem;
}
#loading-screen.loaded {
  opacity: 0;
}

@media (min-width: 720px) {
  body main > section {
    padding: 3.5rem 2.5rem 2rem;
  }
}
@media (min-width: 1000px) {
  body main > section {
    padding: 3.5rem 4.5rem 2rem;
  }
}
@media (min-width: 1400px) {
  body main > section {
    padding: 3.5rem 6rem 2rem;
  }
}
header {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
}
header #nav-container {
  height: 5.5rem;
  padding: 1.5rem;
  overflow: hidden;
  transition: background-color 0.3s ease;
}
header #nav-container .nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2.5rem;
}
header #nav-container .nav-bar-container .title-container {
  display: flex;
}
header #nav-container .nav-bar-container .title-container svg {
  margin: auto;
  height: 2rem;
  width: 2rem;
}
header #nav-container .nav-bar-container .title-container svg path {
  fill: #181818;
  transition: fill 0.3s ease;
}
header #nav-container .nav-bar-container .title-container a {
  text-decoration: none;
}
header #nav-container .nav-bar-container .title-container a h1 {
  display: inline;
  margin: 0;
  color: #181818;
  transition: color 0.3s ease;
}
header #nav-container .nav-bar-container #nav-button {
  background-color: transparent;
  border: none;
  margin: auto 0;
  padding-top: 0.1rem;
}
header #nav-container .nav-bar-container #nav-button svg {
  margin: auto;
  height: 2rem;
  width: 2rem;
}
header #nav-container .nav-bar-container #nav-button svg path {
  fill: #181818;
  transition: fill 0.3s ease;
}
header #nav-container .nav-bar-container #nav-button .close-menu-button {
  display: none;
}
header #nav-container .nav-bar-container #nav-button:hover {
  cursor: pointer;
}
header #nav-container .nav-menu-container {
  display: none;
}

header div#nav-container.menu-open {
  height: 100vh;
  background-color: rgba(24, 24, 24, 0.85);
  backdrop-filter: blur(6px);
  position: relative;
}
header div#nav-container.menu-open .nav-bar-container .title-container a {
  text-decoration: none;
}
header div#nav-container.menu-open .nav-bar-container .title-container a h1 {
  color: #f0f0f0;
}
header div#nav-container.menu-open .nav-bar-container svg path {
  fill: #f0f0f0;
}
header div#nav-container.menu-open .nav-bar-container #nav-button svg path {
  fill: #f0f0f0;
}
header div#nav-container.menu-open .nav-bar-container #nav-button svg.open-menu-button {
  display: none;
}
header div#nav-container.menu-open .nav-bar-container #nav-button svg.close-menu-button {
  display: inline;
}
header div#nav-container.menu-open .nav-menu-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2.5rem);
}
header div#nav-container.menu-open .nav-menu-container ul {
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 0 3.5rem;
  list-style: none;
  padding: 0;
}
header div#nav-container.menu-open .nav-menu-container ul li {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
  transition: transform 0.3s ease;
}
header div#nav-container.menu-open .nav-menu-container ul li a {
  color: #f0f0f0;
  text-decoration: none;
  padding-right: 1rem;
  transition: padding-right 0.3s ease;
}
header div#nav-container.menu-open .nav-menu-container ul li a:hover {
  padding-right: 2rem;
}
header div#nav-container.menu-open .nav-menu-container ul li svg {
  transform: rotate(90deg);
  width: 1rem;
}
header div#nav-container.menu-open .nav-menu-container ul li svg path {
  fill: #f0f0f0;
}
header div#nav-container.menu-open .nav-menu-container ul li:hover {
  transform: translateX(0.5rem);
}
header div#nav-container.menu-open .nav-menu-container .social-media-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header div#nav-container.menu-open .nav-menu-container .social-media-container .social-icons svg {
  margin-left: 1rem;
}
header div#nav-container.menu-open .nav-menu-container .social-media-container .social-icons svg path {
  fill: #f0f0f0;
}

header.dark #nav-container .nav-bar-container .title-container svg path {
  fill: #f0f0f0;
}
header.dark #nav-container .nav-bar-container .title-container h1 {
  color: #f0f0f0;
}
header.dark #nav-container .nav-bar-container #nav-button svg path {
  fill: #f0f0f0;
}

header.stickied #nav-container {
  background-color: #181818;
}
header.stickied #nav-container .nav-bar-container .title-container svg path {
  fill: #f0f0f0;
}
header.stickied #nav-container .nav-bar-container .title-container h1 {
  color: #f0f0f0;
}
header.stickied #nav-container .nav-bar-container #nav-button svg path {
  fill: #f0f0f0;
}

@media (min-width: 720px) {
  header #nav-container {
    padding: 1.5rem 2.5rem;
  }
}
@media (min-width: 1000px) {
  header #nav-container {
    padding: 1.5rem 4.5rem;
    display: flex;
  }
  header #nav-container .nav-bar-container {
    width: auto;
  }
  header #nav-container .nav-bar-container #nav-button {
    display: none;
  }
  header #nav-container .nav-menu-container {
    display: flex;
    flex-grow: 1;
  }
  header #nav-container .nav-menu-container ul {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: auto;
  }
  header #nav-container .nav-menu-container ul div {
    display: flex;
    align-self: center;
  }
  header #nav-container .nav-menu-container ul div li {
    margin-left: 3rem;
  }
  header #nav-container .nav-menu-container ul div li a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
  }
  header #nav-container .nav-menu-container ul div li a:hover {
    border-color: #181818;
  }
  header #nav-container .nav-menu-container ul div li svg {
    display: none;
  }
  header #nav-container .nav-menu-container .social-icons {
    display: none;
  }

  header.stickied #nav-container .nav-menu-container ul div li a {
    color: #f0f0f0;
  }
  header.stickied #nav-container .nav-menu-container ul div li a:hover {
    border-color: #f0f0f0;
  }
}
@media (min-width: 1400px) {
  header #nav-container {
    padding: 1.5rem 6rem;
  }
}
footer {
  padding: 5rem 1.5rem 3.5rem;
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}
footer svg {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0 auto;
}
footer svg path {
  fill: #181818;
}
footer .heading-subtext {
  font-size: 1.2rem;
  font-weight: 400;
}
footer .heading-subtext span {
  color: #a37e74;
}
footer .social-media-container {
  height: 2.6rem;
  display: flex;
  align-items: center;
}
footer .social-media-container .divider {
  width: 1px;
  height: 100%;
  background-color: #181818;
  margin: 0 1.2rem;
}
footer .social-media-container a {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 1rem;
}
footer .social-media-container a svg {
  height: 1.5rem;
  width: 1.5rem;
}
footer .site-map {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 3.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}
footer .site-map > li {
  width: auto;
  margin-right: 1.9rem;
}
footer .site-map > li > ul {
  margin-bottom: 1rem;
}
footer .site-map > li > ul > li {
  margin-bottom: 0.25rem;
}
footer .site-map > li ul {
  padding: 0;
  list-style: none;
}
footer .site-map > li ul p {
  margin: 0 0 0.5rem;
  color: #565656;
}
footer .site-map > li ul a {
  text-decoration: none;
  padding-left: 0.25rem;
}
footer .fine-print-container {
  font-size: 0.75rem;
  font-weight: 500;
  margin-top: 3.5rem;
}
footer .fine-print-container div > a {
  text-decoration: none;
  margin-right: 0.5rem;
}
footer .fine-print-container div > a p {
  line-height: 1rem;
}
footer .fine-print-container > p {
  margin-top: 2.5rem;
  line-height: 1rem;
}

footer.dark {
  background-color: #181818;
}
footer.dark p, footer.dark a {
  color: #f0f0f0;
}
footer.dark svg path {
  fill: #f0f0f0;
}
footer.dark .heading-subtext span {
  color: #dbbbaf;
}
footer.dark .contact-button {
  color: #181818;
  background-color: #f0f0f0;
}
footer.dark .divider {
  background-color: #f0f0f0;
}
footer.dark .site-map > li ul p {
  color: #c8c8c8;
}

@media (min-width: 720px) {
  footer {
    padding: 5rem 2.5rem 3.5rem;
  }
  footer .heading-subtext {
    text-align: center;
    max-width: 30rem;
    margin: 1.2rem auto;
  }
}
@media (min-width: 1000px) {
  footer {
    padding: 5rem 4.5rem 3.5rem;
  }
  footer .fine-print-container {
    display: grid;
    grid-template-columns: 15rem 1fr;
  }
  footer .fine-print-container > p {
    margin: 0;
  }
}
@media (min-width: 1400px) {
  footer {
    padding: 5rem 6rem 3.5rem;
  }
  footer .upper-footer {
    display: grid;
    grid-template-columns: 24.5rem 1fr;
  }
  footer .upper-footer .site-map {
    justify-self: center;
  }
  footer .upper-footer .site-map > li {
    margin-right: 4rem;
    margin-left: 4rem;
  }
  footer .upper-footer .site-map p {
    font-size: 0.9rem;
  }
  footer .fine-print-container p {
    font-size: 0.75rem;
  }
}
.hero-section.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-image: url("../media/background.webp");
  background-size: cover;
  background-position-x: 30%;
}
.hero-section.home .text-container .hero-text {
  font-size: 2rem;
  margin: 0 0 1.5rem;
  line-height: 2.3rem;
  max-width: 14rem;
}
.hero-section.home .text-container p {
  max-width: 20rem;
}
.hero-section.home svg {
  margin-top: 1rem;
  height: 2rem;
  width: 2rem;
}
.hero-section.home .main-section-tab {
  position: absolute;
  right: 1rem;
  bottom: 0;
  left: 1rem;
  height: 4rem;
  border-radius: 3rem 3rem 0 0;
  background-color: #181818;
}

.main-section.home {
  padding-bottom: 1px;
}
.main-section.home h2 {
  margin: 0;
}
.main-section.home .heading-subtext {
  margin: 1rem 0;
  font-weight: 300;
}
.main-section.home .video-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.75rem;
  background-color: #f0f0f0;
  margin: 3.5rem 0 0;
  overflow: hidden;
}
.main-section.home .video-wrapper video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-section.home #home-expandable-list {
  padding: 6rem 0 0;
  margin: 0;
  list-style: none;
}
.main-section.home #home-expandable-list .accord {
  position: relative;
  overflow: hidden;
  height: 5rem;
  margin-bottom: 2rem;
  transition: height 0.3s ease;
}
.main-section.home #home-expandable-list .accord svg {
  position: absolute;
  left: 0;
  top: 0.45rem;
  height: 1rem;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
  z-index: 0;
}
.main-section.home #home-expandable-list .accord svg path {
  fill: #f0f0f0;
}
.main-section.home #home-expandable-list .accord h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #f0f0f0;
  text-transform: none;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
.main-section.home #home-expandable-list .accord p {
  transition: opacity 0.3s;
  opacity: 0;
}
.main-section.home #home-expandable-list .accord.expanded svg {
  transform: rotate(180deg);
}
.main-section.home #home-expandable-list .accord.expanded p {
  opacity: 1;
}
.main-section.home #home-expandable-list h3 {
  padding-left: 2.5rem;
}
.main-section.home #home-expandable-list p {
  font-weight: 300;
}

.info-section.home {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
.info-section.home .global-container {
  background-image: url(../media/globe.png);
  background-size: 30rem;
  background-repeat: no-repeat;
  background-position: top right -320px;
  background-color: #e1e1e1;
  padding: 1rem 1rem 3rem;
  border: 1px solid #c8c8c8;
  border-radius: 0.5rem;
}
.info-section.home .global-container h2 {
  margin: 0;
}
.info-section.home .global-container .heading-subtext {
  font-weight: 400;
}
.info-section.home .global-container ul {
  list-style: none;
  padding: 0;
  margin-bottom: 4rem;
}
.info-section.home .global-container ul li {
  margin-bottom: 2.5rem;
}
.info-section.home .global-container ul li p:first-child {
  text-transform: uppercase;
  margin: 1rem 0 1.5rem;
}
.info-section.home .global-container ul li .number-animation {
  font-size: 4.5rem;
  margin: 0;
}
.info-section.home .global-container a {
  margin-bottom: 1rem;
}

@media (min-width: 440px) {
  .info-section.home .global-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media (min-width: 720px) {
  .hero-section.home .text-container .hero-text {
    max-width: 20rem;
  }
  .hero-section.home .text-container p {
    max-width: 25rem;
  }

  .main-section.home .video-wrapper {
    max-width: 45rem;
    margin: 3.5rem auto 0;
  }

  .info-section.home .global-container {
    padding: 2rem 2rem 5rem;
    background-position: top right -220px;
  }
  .info-section.home .global-container p {
    max-width: 80%;
  }
}
@media (min-width: 1000px) {
  .hero-section.home .text-container .hero-text {
    font-size: 2.4rem;
    line-height: 2.6rem;
    max-width: 28rem;
    font-weight: 400;
  }
  .hero-section.home .text-container p {
    max-width: 25rem;
    font-weight: 500;
  }
  .hero-section.home .main-section-tab {
    height: 6rem;
  }

  .main-section.home {
    display: grid;
    grid-template-areas: "ttl ttl" "vid acd";
    grid-template-columns: 40% 1fr;
    grid-gap: 5rem;
  }
  .main-section.home h2, .main-section.home .heading-subtext {
    grid-area: ttl;
  }
  .main-section.home .video-wrapper {
    grid-area: vid;
    margin-top: 0;
    margin-bottom: 6rem;
  }
  .main-section.home #home-expandable-list {
    grid-area: acd;
    padding-top: 0;
  }

  .info-section.home .global-container {
    padding: 3rem 3rem 5rem;
    background-position: top 80px right -100px;
  }
  .info-section.home .global-container p {
    width: 30rem;
  }
  .info-section.home .global-container ul {
    grid-template-columns: 12rem 12rem;
  }
}
@media (min-width: 1400px) {
  .hero-section.home .text-container .hero-text {
    font-size: 3rem;
    line-height: 3.2rem;
    max-width: 38rem;
  }
  .hero-section.home .text-container p {
    font-size: 1.2rem;
  }
  .hero-section.home .main-section-tab {
    left: 2rem;
    right: 2rem;
  }

  .main-section.home #home-expandable-list .accord {
    margin-bottom: 4rem;
  }
  .main-section.home #home-expandable-list .accord svg {
    top: 0.7rem;
  }
  .main-section.home #home-expandable-list .accord h3 {
    font-size: 2rem;
  }
  .main-section.home #home-expandable-list .accord p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .info-section.home .global-container {
    padding: 4rem 4rem 6rem;
    background-position: top 4rem right 4rem;
  }
  .info-section.home .global-container p {
    width: 44rem;
  }
  .info-section.home .global-container ul {
    grid-template-columns: 14rem 14rem;
  }
  .info-section.home .global-container ul li .number-animation {
    font-size: 5rem;
  }
}
.title-section.plans {
  padding-top: 8.5rem;
  transition: background-color 0.3s ease;
}
.title-section.plans h2 {
  margin: 0;
  transition: color 0.3s ease;
}
.title-section.plans #plans-button-container {
  padding: 0.3rem 0.4rem;
  background-color: #e1e1e1;
  border-radius: 9999px;
  border: 2px #a37e74 solid;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  transition: background-color, color 0.3s ease;
}
.title-section.plans #plans-button-container button {
  background-color: transparent;
  color: #181818;
  border: none;
  text-transform: uppercase;
  padding: 0.65rem 1rem;
  border-radius: 9999px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.title-section.plans #plans-button-container button:hover, .title-section.plans #plans-button-container button.active {
  background-color: #a37e74;
  color: #f0f0f0;
}
.title-section.plans.dark #plans-button-container {
  background-color: #565656;
}
.title-section.plans.dark #plans-button-container button {
  color: #f0f0f0;
}

#plan-container > section {
  padding: 3.5rem 1.5rem 2rem;
}
#plan-container.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s ease;
}
#plan-container.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.15s, opacity 0.15s ease;
}
#plan-container.hidden > section {
  background-color: transparent !important;
}

.hero-section.plans .heading-subtext {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}
.hero-section.plans p {
  font-weight: 300;
}
.hero-section.plans .contact-button {
  margin-top: 2rem;
}

.main-section.plans h3 {
  margin: 0;
}
.main-section.plans .heading-subtext {
  font-weight: 300;
}
.main-section.plans p {
  margin-bottom: 0;
  font-weight: 300;
}

.features-section.plans #plans-expandable-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.features-section.plans #plans-expandable-list .accord {
  position: relative;
  overflow: hidden;
  height: 5rem;
  margin-bottom: 2rem;
  transition: height 0.3s ease;
}
.features-section.plans #plans-expandable-list .accord svg {
  position: absolute;
  left: 0;
  top: 0.45rem;
  height: 1rem;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
  z-index: 0;
}
.features-section.plans #plans-expandable-list .accord svg path {
  fill: #f0f0f0;
}
.features-section.plans #plans-expandable-list .accord h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #f0f0f0;
  text-transform: none;
  z-index: 1;
  position: relative;
  cursor: pointer;
}
.features-section.plans #plans-expandable-list .accord p {
  transition: opacity 0.3s;
  opacity: 0;
}
.features-section.plans #plans-expandable-list .accord.expanded svg {
  transform: rotate(180deg);
}
.features-section.plans #plans-expandable-list .accord.expanded p {
  opacity: 1;
}
.features-section.plans #plans-expandable-list h3 {
  padding-left: 2.5rem;
}
.features-section.plans #plans-expandable-list p {
  font-weight: 300;
}

.hero-section.pro.plans .heading-subtext, .hero-section.pro.plans p {
  font-weight: 400;
}

.main-section.pro.plans .heading-subtext, .main-section.pro.plans p {
  font-weight: 400;
}
.main-section.pro.plans .video-wrapper {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.75rem;
  background-color: #f0f0f0;
  margin: 1.5rem 0 0;
  overflow: hidden;
}
.main-section.pro.plans .video-wrapper video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.features-section.pro.plans #plans-expandable-list svg path {
  fill: #181818;
}
.features-section.pro.plans #plans-expandable-list h3, .features-section.pro.plans #plans-expandable-list p {
  color: #181818;
  font-weight: 400;
}
.features-section.pro.plans .features-list.plans {
  padding: 0;
  list-style: none;
}
.features-section.pro.plans .features-list.plans h4 {
  font-size: 1.5rem;
  color: #181818;
  margin: 2rem 0 0.5rem;
  text-transform: none;
  font-weight: 400;
}
.features-section.pro.plans .features-list.plans p {
  margin: 0;
  font-weight: 400;
}

.hero-section.services {
  background-color: #181818;
  padding-top: 5.5rem;
}
.hero-section.services .hero-card.services {
  margin: 0 -0.75rem;
  padding: 3.5rem 0.75rem;
  background-image: url(/media/background-small.webp);
  background-size: cover;
  background-position: left;
  border: 1px solid #565656;
  border-top: none;
  border-radius: 1.5rem;
}
.hero-section.services .hero-card.services h2 {
  margin: 0;
  color: #181818;
}
.hero-section.services .hero-card.services .heading-subtext {
  font-size: 1.2rem;
}
.hero-section.services .hero-card.services .contact-button {
  margin-top: 0.75rem;
}

.main-section.services .heading-subtext {
  font-weight: 300;
}
.main-section.services ul {
  margin-top: 2rem;
  list-style: none;
  padding: 0;
}
.main-section.services ul li {
  margin-bottom: 2rem;
}
.main-section.services ul svg {
  width: 2.5rem;
  height: 2.5rem;
}
.main-section.services ul svg path {
  fill: #dbbbaf;
}
.main-section.services ul h4 {
  color: #f0f0f0;
  font-size: 1.5rem;
  text-transform: none;
  margin: 0.5rem 0;
}
.main-section.services ul p {
  margin: 0;
  font-weight: 300;
}
.main-section.services h3 {
  margin: 0;
}

#faqs-expandable-list {
  margin-bottom: 0;
}
#faqs-expandable-list .accord {
  overflow: hidden;
  height: 5rem;
  position: relative;
  border-bottom: 2px #c8c8c8 solid;
  transition: all 0.3s ease;
}
#faqs-expandable-list .accord .accord-button {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-right: 3rem;
  margin-bottom: 1rem;
  color: #c8c8c8;
  transition: color 0.3s ease;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
#faqs-expandable-list .accord svg {
  position: absolute;
  right: 0;
  top: 1rem;
  height: 2rem;
  transition: transform 0.3s ease;
  z-index: 0;
}
#faqs-expandable-list .accord svg path {
  fill: #c8c8c8;
  transition: fill 0.3s ease;
}
#faqs-expandable-list .accord p:last-child {
  color: #c8c8c8;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}
#faqs-expandable-list .accord.expanded {
  border-color: #f0f0f0;
}
#faqs-expandable-list .accord.expanded .accord-button {
  color: #f0f0f0;
}
#faqs-expandable-list .accord.expanded svg {
  transform: rotate(180deg);
}
#faqs-expandable-list .accord.expanded svg path {
  fill: #f0f0f0;
}
#faqs-expandable-list .accord.expanded p:last-child {
  color: #f0f0f0;
}

.hero-section.about {
  background-color: #181818;
  padding-top: 0;
}
.hero-section.about .hero-card.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 -0.75rem;
  padding: 3.5rem 0.75rem;
  height: 31rem;
  background-image: url(/media/background-small.webp);
  background-size: cover;
  background-position: left;
  border: 1px solid #565656;
  border-top: none;
  border-radius: 0 0 1.5rem 1.5rem;
}
.hero-section.about .hero-card.about h2 {
  color: #181818;
  margin-top: 0;
}
.hero-section.about .hero-card.about p {
  margin: 0;
}

.main-section.about h3 {
  margin: 0;
}
.main-section.about .heading-subtext {
  font-weight: 300;
}
.main-section.about ul {
  list-style: none;
  padding: 0;
}
.main-section.about .values-section {
  padding-top: 3.5rem;
}
.main-section.about .stats-section {
  background-color: #181818;
}
.main-section.about .stats-section ul {
  margin-top: 3.5rem;
}
.main-section.about .stats-section ul li {
  margin-bottom: 2.5rem;
}
.main-section.about .stats-section ul li p:first-child {
  text-transform: uppercase;
  margin: 1rem 0 1.5rem;
}
.main-section.about .stats-section ul li .number-animation {
  font-size: 4.5rem;
  margin: 0;
}
.main-section.about .stats-section ul li p:last-child {
  margin: 2rem 0 2rem;
  font-weight: 300;
}
.main-section.about .values-section {
  background-color: #181818;
}
.main-section.about .values-section h4 {
  font-size: 1.5rem;
  color: #f0f0f0;
  margin: 2rem 0 0.5rem;
  text-transform: none;
}
.main-section.about .values-section p {
  margin: 0;
  font-weight: 300;
}
.main-section.about .team {
  padding-top: 3.5rem;
}
.main-section.about .team ul li {
  padding-top: 2.25rem;
}
.main-section.about .team ul li .portrait-wrapper {
  width: 100%;
  aspect-ratio: 42/53;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.main-section.about .team ul li .portrait-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-section.about .team ul li .team-name {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
  color: #f0f0f0;
}
.main-section.about .team ul li .team-title {
  color: #c8c8c8;
  margin: 0.25rem 0 0;
}

/*# sourceMappingURL=styles.css.map */
