@use 'variables' as *;

.hero-section.about {
    background-color: $black;
    padding-top: 0;
    .hero-card.about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 -0.75rem;
        padding: 3.5rem 0.75rem;
        height: 31rem;
        background-image: url(/media/background-small.webp);
        background-size: cover;
        background-position: left;
        border: 1px solid $blacklight;
        border-top: none;
        border-radius: 0 0 1.5rem 1.5rem;
        h2 {
            color: $black;
            margin-top: 0;
        };
        p {
            margin: 0;
        };
    };
};

.main-section.about {
    h3 {
        margin: 0;
    };
    .heading-subtext {
        font-weight: 300;
    };
    ul {
        list-style: none;
        padding: 0;
    };
    .values-section {
        padding-top: 3.5rem;
    }
    .stats-section {
        background-color: $black;
        ul {
            margin-top: 3.5rem;
            li {
                margin-bottom: 2.5rem;
                p:first-child {
                    text-transform: uppercase;
                    margin: 1rem 0 1.5rem;
                };
                .number-animation {
                    font-size: 4.5rem;
                    margin: 0;
                };
                p:last-child {
                    margin: 2rem 0 2rem;
                    font-weight: 300;
                };
            };
        };
    };
    .values-section {
        background-color: $black;
        h4 {
            font-size: 1.5rem;
            color: $white;
            margin: 2rem 0 0.5rem;
            text-transform: none;
        };
        p {
            margin: 0;
            font-weight: 300;
        };
    };
    .team {
        padding-top: 3.5rem;
        ul {
            li {
                .team-name {
                    font-size: 1.25rem;
                    font-weight: 300;
                    margin: 0;
                    color: $white;
                };
                .team-title {
                    color: $whiteborder;
                    margin: .25rem 0 0;
                };
            };
        };
    };
};