@use 'variables' as *;

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow: hidden;
    main {
        background-color: $white;
        transition: background-color 0.3s ease;
        &.dark {
            background-color: $black;
        };
        & > section {
            padding: 3.5rem 1.5rem 2rem;
        };
    };
};

section {
    background-color: $white;
    &.dark {
        background-color: $black;
    };
};

@mixin button-styles {
    font-size: 1rem;
    text-transform: uppercase;
    color: $white;
    background-color: $black;
    border: none;
    border-radius: 999px;
    text-decoration: none;
    transition: background-color 0.3s ease;
};

.contact-button {
    @include button-styles;
    padding: 0.625rem 1.25rem;
    &.dark {
        color: $black;
        background-color:$white;
    };
    &:hover {
        cursor: pointer;
    };
};

a.button, li.submit button {
    @include button-styles; 
    padding: 0.525rem 1.25rem;
};

.contact-button:hover, a.button:hover, li.submit button:hover {
    color: $white !important;
    background-color: $colourdark !important;
    cursor: pointer;
};

#contact-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    z-index: 100;
    background-color: $whitedark;
    transition: width 0.3s ease;
    &.open {
        width: 100%;
    };
    #close-button {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.1rem;
        cursor: pointer;
    };
    form {
        margin: 5rem 1.5rem;
        opacity: 0;
        transition: opacity 0.15s ease;
        &.visible {
            opacity: 1;
        };
        ul {
            list-style: none;
            padding: 0;
            li {
                margin-bottom: 1rem;
                label {
                    display: inline-block;
                    width: 100%;
                    margin-bottom: .25rem;
                    font-size: .9rem;
                };
                input {
                    width: 100%;
                    padding: .25rem;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px $colourdark solid;
                };
                &.name {
                    display: flex;
                    .first-name-wrapper {
                        width: 50%;
                        margin-right: .5rem;
                    };
                    .last-name-wrapper {
                        width: 50%;
                        margin-left: .5rem;
                    };
                };
                &.submit {
                    position: absolute;
                    bottom: 1.5rem;
                    right: 1.5rem;
                };
            };
        };
    };
};

#loading-screen {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $whitedark;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    svg {
        height: 3.5rem;
        width: 3.5rem;
    };
    &.loaded {
        opacity: 0;
    };
};

@media(min-width: 720px) {
    body {
        main {
            &>section {
                padding: 3.5rem 2.5rem 2rem;
            };
        };
    };
};

@media(min-width: 1000px) {
    body {
        main {
            &>section {
                padding: 3.5rem 4.5rem 2rem;
            };
        };
    };
};

@media(min-width: 1400px) {
    body {
        main {
            &>section {
                padding: 3.5rem 6rem 2rem;
            }
        }
    }
}