@use 'variables' as *;

.hero-section.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-image: url('../media/background.webp');
    background-size: cover;
    background-position-x: 30%;
    .text-container {
        .hero-text {
            font-size: 2rem;
            margin: 0 0 1.5rem;
            color: $black;
            line-height: 2.3rem;
            span {
                color: $colourdark;
            };
        };
        p {
            color: $black;
        };
    };
    button {
        width: 2rem;
        padding: 0;
        border: none;
        background-color: transparent;
        position: absolute;
        bottom: 5rem;
        svg {
            height: 2rem;
            width: 2rem;
        }
    };
    .main-section-tab {
        position: absolute;
        right: 1rem;
        bottom: 0;
        left: 1rem;
        height: 4rem;
        border-radius: 3rem 3rem 0 0;
        background-color: $black;
    }
};

.home {
    background-color: $black;
    h2, h3, h4, h5, h6, p {
        color: $white;
    };
};

.main-section.home {
    h2 {
        font-size: 2rem;
        font-weight: lighter;
        text-transform: uppercase;
        color: $colourlight;
        margin: 0;
        padding-top: 3.5rem;
    };
    .heading-subtext {
        margin: 1rem 0;
    };
    .video-wrapper {
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 0.75rem;
        background-color: $white;
        margin: 3.5rem 0;
    };
    #home-expandable-list {
        margin: 6rem 0;
        padding: 0;
        list-style: none;
        .accord {
            position: relative;
            overflow: hidden;
            height: 5rem;
            margin-bottom: 2rem;
            transition: height 0.3s ease;
            svg {
                position: absolute;
                left: 0;
                top: .45rem;
                height: 1rem;
                transform: rotate(90deg);
                transition: transform 0.3s ease;
                z-index: 0;
                path {
                    fill: $white;
                };
            };
            h3 {
                margin-top: 0;
                font-size: 1.5rem;
                font-weight: lighter;
                z-index: 1;
                position: relative;
            };
            p {
                transition: opacity 0.3s;
                opacity: 0;
            };
        };
        .accord.expanded {
            svg {
                transform: rotate(180deg);
            };
            p {
                opacity: 1;
            };
        };
        h3, p {
            padding-left: 2.5rem;
        };
    };
};