@use 'variables' as *;

h1 {
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
};

h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Open Sans', sans-serif;
    color: $black;
};

p {
    line-height: 1.5rem;
}