$black: rgb(24, 24, 24);
$blacktrans: rgba(24, 24, 24, 0.85);
$blacklight: rgb(86, 86, 86);
$white: rgb(240, 240, 240);
$whiteborder: rgb(200, 200, 200);
$whitedark: rgb(225, 225, 225);
$colourdark: rgb(163, 126, 116);
$colourlight: rgb(219, 187, 175);